body {margin-top: 0px;margin-left: 0px;}

#page_1 {position:relative; overflow: hidden;margin: 28px 0px 73px 0px;padding: 0px;border: none;width: 793px;}
#page_1 #id1_1 {border:none;margin: 0px 0px 0px 32px;padding: 0px;border:none;width: 761px;overflow: hidden;}
#page_1 #id1_2 {border:none;margin: 25px 0px 0px 33px;padding: 0px;border:none;width: 760px;overflow: hidden;}
#page_1 #id1_2 #id1_2_1 {float:left;border:none;margin: 0px 0px 0px 0px;padding: 0px;border:none;width: 387px;overflow: hidden;}
#page_1 #id1_2 #id1_2_2 {float:left;border:none;margin: 0px 0px 0px 0px;padding: 0px;border:none;width: 373px;overflow: hidden;}
#page_1 #id1_3 {border:none;margin: 1px 0px 0px 420px;padding: 0px;border:none;width: 313px;overflow: hidden;}

#page_1 #p1dimg1 {position:absolute;top:97px;left:0px;z-index:-1;width:793px;height:713px;}
#page_1 #p1dimg1 #p1img1 {width:793px;height:713px;}




.ft0{font: 31px 'Arial';color: #313c4e;line-height: 35px;}
.ft1{font: 16px 'Arial';color: #666766;line-height: 18px;}
.ft2{font: 12px 'Arial';line-height: 15px;}
.ft3{font: bold 19px 'Arial';color: #313c4e;line-height: 22px;}
.ft4{font: bold 16px 'Arial';line-height: 19px;}
.ft5{font: 16px 'Arial';line-height: 18px;}
.ft6{font: 11px 'Arial';line-height: 14px;}
.ft7{font: italic 11px 'Arial';color: #666766;line-height: 14px;}
.ft8{font: italic 9px 'Arial';color: #666766;line-height: 12px;}
.ft9{font: 1px 'Arial';line-height: 1px;}
.ft10{font: 13px 'Arial';line-height: 16px;}
.ft11{font: 11px 'Arial';text-decoration: underline;color: #449399;line-height: 14px;}
.ft12{font: italic 11px 'Arial';color: #7c7c7c;line-height: 14px;}
.ft13{font: 12px 'Arial';color: #ffffff;line-height: 15px;}
.ft14{font: 11px 'Arial';color: #ffffff;line-height: 14px;}
.ft15{font: 13px 'Arial';line-height: 15px;}
.ft16{font: italic 11px 'Arial';color: #313c4e;line-height: 14px;}
.ft17{font: italic 9px 'Arial';color: #313c4e;line-height: 12px;}

.p0{text-align: left;margin-top: 0px;margin-bottom: 0px;}
.p1{text-align: left;padding-left: 1px;margin-top: 2px;margin-bottom: 0px;}
.p2{text-align: left;padding-left: 1px;margin-top: 6px;margin-bottom: 0px;}
.p3{text-align: left;margin-top: 0px;margin-bottom: 0px;white-space: nowrap;}
.p4{text-align: left;padding-left: 129px;margin-top: 0px;margin-bottom: 0px;white-space: nowrap;}
.p5{text-align: left;margin-top: 7px;margin-bottom: 0px;}
.p6{text-align: left;padding-left: 12px;margin-top: 0px;margin-bottom: 0px;white-space: nowrap;}
.p7{text-align: left;margin-top: 15px;margin-bottom: 0px;}
.p8{text-align: left;margin-top: 14px;margin-bottom: 0px;}
.p9{text-align: right;padding-right: 85px;margin-top: 0px;margin-bottom: 0px;white-space: nowrap;}
.p10{text-align: left;padding-left: 84px;margin-top: 0px;margin-bottom: 0px;white-space: nowrap;}
.p11{text-align: left;margin-top: 31px;margin-bottom: 0px;}
.p12{text-align: left;margin-top: 8px;margin-bottom: 0px;}
.p13{text-align: left;margin-top: 12px;margin-bottom: 0px;}
.p14{text-align: left;margin-top: 11px;margin-bottom: 0px;}
.p15{text-align: left;padding-left: 12px;margin-top: 1px;margin-bottom: 0px;}
.p16{text-align: left;margin-top: 9px;margin-bottom: 0px;}
.p17{text-align: left;padding-left: 12px;margin-top: 2px;margin-bottom: 0px;}
.p18{text-align: left;margin-top: 26px;margin-bottom: 0px;}
.p19{text-align: left;padding-right: 51px;margin-top: 7px;margin-bottom: 0px;}
.p20{text-align: left;padding-left: 11px;margin-top: 0px;margin-bottom: 0px;white-space: nowrap;}
.p21{text-align: left;padding-left: 2px;margin-top: 0px;margin-bottom: 0px;white-space: nowrap;}
.p22{text-align: left;margin-top: 36px;margin-bottom: 0px;}
.p23{text-align: left;padding-left: 4px;padding-right: 148px;margin-top: 8px;margin-bottom: 0px;text-indent: -2px;}
.p24{text-align: left;margin-top: 2px;margin-bottom: 0px;}
.p25{text-align: left;padding-right: 68px;margin-top: 6px;margin-bottom: 0px;}
.p26{text-align: left;padding-left: 4px;padding-right: 79px;margin-top: 8px;margin-bottom: 0px;text-indent: -2px;}
.p27{text-align: left;margin-top: 10px;margin-bottom: 0px;}
.p28{text-align: left;padding-right: 79px;margin-top: 8px;margin-bottom: 0px;}
.p29{text-align: left;padding-right: 96px;margin-top: 8px;margin-bottom: 0px;}
.p30{text-align: left;padding-left: 4px;padding-right: 147px;margin-top: 8px;margin-bottom: 0px;text-indent: -2px;}

.td0{padding: 0px;margin: 0px;width: 258px;vertical-align: bottom;}
.td1{padding: 0px;margin: 0px;width: 266px;vertical-align: bottom;}
.td2{padding: 0px;margin: 0px;width: 272px;vertical-align: bottom;}
.td3{padding: 0px;margin: 0px;width: 68px;vertical-align: bottom;}
.td4{padding: 0px;margin: 0px;width: 260px;vertical-align: bottom;}
.td5{padding: 0px;margin: 0px;width: 79px;vertical-align: bottom;}
.td6{padding: 0px;margin: 0px;width: 176px;vertical-align: bottom;}
.td7{padding: 0px;margin: 0px;width: 163px;vertical-align: bottom;}
.td8{padding: 0px;margin: 0px;width: 309px;vertical-align: bottom;}
.td9{padding: 0px;margin: 0px;width: 31px;vertical-align: bottom;}
.td10{padding: 0px;margin: 0px;width: 63px;vertical-align: bottom;}
.td11{padding: 0px;margin: 0px;width: 37px;vertical-align: bottom;}
.td12{padding: 0px;margin: 0px;width: 43px;vertical-align: bottom;}
.td13{padding: 0px;margin: 0px;width: 46px;vertical-align: bottom;}
.td14{padding: 0px;margin: 0px;width: 56px;vertical-align: bottom;}
.td15{padding: 0px;margin: 0px;width: 45px;vertical-align: bottom;}
.td16{padding: 0px;margin: 0px;width: 23px;vertical-align: bottom;}
.td17{padding: 0px;margin: 0px;width: 100px;vertical-align: bottom;}
.td18{padding: 0px;margin: 0px;width: 115px;vertical-align: bottom;}
.td19{padding: 0px;margin: 0px;width: 75px;vertical-align: bottom;}
.td20{padding: 0px;margin: 0px;width: 30px;vertical-align: bottom;}
.td21{padding: 0px;margin: 0px;width: 182px;vertical-align: bottom;}
.td22{padding: 0px;margin: 0px;width: 131px;vertical-align: bottom;}

.tr0{height: 16px;}
.tr1{height: 27px;}
.tr2{height: 29px;}
.tr3{height: 14px;}
.tr4{height: 17px;}
.tr5{height: 15px;}
.tr6{height: 18px;}
.tr7{height: 28px;}
.tr8{height: 31px;}
.tr9{height: 25px;}

.t0{width: 524px;margin-left: 24px;margin-top: 32px;font: 12px 'Arial';}
.t1{width: 340px;margin-top: 3px;font: italic 11px 'Arial';color: #666766;}
.t2{width: 339px;margin-top: 2px;font: italic 11px 'Arial';color: #666766;}
.t3{width: 339px;margin-top: 4px;font: italic 9px 'Arial';color: #666766;}
.t4{width: 340px;margin-top: 18px;font: italic 9px 'Arial';color: #666766;}
.t5{width: 313px;margin-left: 10px;margin-top: 12px;font: 12px 'Arial';color: #ffffff;}
.t6{width: 313px;margin-top: 6px;font: 12px 'Arial';}
.t7{width: 313px;font: italic 9px 'Arial';color: #313c4e;}